.category-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}

.category-display-img {
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  text-align: center;
}
.category-display-img a {
  font-size: 30px;
  color: white;
}

.category-display-img img {
  border-radius: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.category-holder:hover .overlay {
  opacity: 0;
}
